
@model WMS.ViewModel.InventoryManagement.InventoryErpDiffVMs.InventoryErpDiffBatchVM
@using WalkingTec.Mvvm.Core.Extensions;
@inject IStringLocalizer<Program> Localizer;

<wt:form vm="@Model" url="/InventoryManagement/InventoryErpDiff/DoBatchEdit?1=1">
  <div style="margin-bottom:10px;"> "@Localizer["Sys.BatchEditConfirm"].Value"</div>
  <wt:row  items-per-row="ItemsPerRowEnum.Two">
    <wt:combobox field="LinkedVM.WhId"  item-url="/InventoryManagement/InventoryErpDiff/GetBaseWareHouses" label-text="@Localizer["Page.存储地点"].Value" id="gfdfc6c72e74c4aca89a012f371403edc"/>
    <wt:combobox field="LinkedVM.ItemId"  item-url="/InventoryManagement/InventoryErpDiff/GetBaseItemMasters" label-text="@Localizer["Page.料品"].Value" id="ga341fb4d8abd427cbfb2984b3b572783"/>
  </wt:row>
  <wt:row  items-per-row="ItemsPerRowEnum.Two">
    <wt:textbox field="LinkedVM.Seiban"/>
    <wt:textbox field="LinkedVM.WmsQty"/>
  </wt:row>
  <wt:row  items-per-row="ItemsPerRowEnum.Two">
    <wt:textbox field="LinkedVM.ErpQty"/>
  </wt:row>

  <wt:container align="AlignEnum.Right">
    <wt:submitbutton  text="@Localizer["Sys.Submit"].Value"/>
    <wt:closebutton  text="@Localizer["Sys.Close"].Value"/>
  </wt:container>

  <wt:hidden field="Ids" />
  <wt:grid vm="ListVM" use-local-data="true" height="300" hidden-checkbox="true" hidden-panel="true" />
</wt:form>


