
@model WMS.ViewModel.InventoryManagement.InventoryTransferOutDirectVMs.InventoryTransferOutDirectBatchVM
@using WalkingTec.Mvvm.Core.Extensions;
@inject IStringLocalizer<Program> Localizer;

<wt:form vm="@Model" url="/InventoryManagement/InventoryTransferOutDirect/DoBatchEdit?1=1">
  <div style="margin-bottom:10px;"> "@Localizer["Sys.BatchEditConfirm"].Value"</div>
  <wt:row  items-per-row="ItemsPerRowEnum.Two">
    <wt:textbox field="LinkedVM.ErpID"/>
    <wt:datetime field="LinkedVM.BusinessDate"/>
  </wt:row>
  <wt:row  items-per-row="ItemsPerRowEnum.Two">
    <wt:combobox field="LinkedVM.DocTypeId"  item-url="/InventoryManagement/InventoryTransferOutDirect/GetInventoryTransferOutDirectDocTypes" label-text="@Localizer["Page.单据类型"].Value" id="ge3b19b4f6fbe4b6a89e7d2ed20baf164"/>
    <wt:textbox field="LinkedVM.DocNo"/>
  </wt:row>
  <wt:row  items-per-row="ItemsPerRowEnum.Two">
    <wt:combobox field="LinkedVM.TransInOrganizationId"  item-url="/InventoryManagement/InventoryTransferOutDirect/GetBaseOrganizations" label-text="@Localizer["Page.调入组织"].Value" id="g9dbea98143524aada38fdc5837361544"/>
    <wt:combobox field="LinkedVM.TransInWhId"  item-url="/InventoryManagement/InventoryTransferOutDirect/GetBaseWareHouses" label-text="@Localizer["Page.调入存储地点"].Value" id="ga3a231a73d444011badac4eb93b56efb"/>
  </wt:row>
  <wt:row  items-per-row="ItemsPerRowEnum.Two">
    <wt:combobox field="LinkedVM.TransOutWhId"  item-url="/InventoryManagement/InventoryTransferOutDirect/GetBaseWareHouses" label-text="@Localizer["Page.调出存储地点"].Value" id="g31851b64dd364647ae5a772959544216"/>
    <wt:combobox field="LinkedVM.TransOutOrganizationId"  item-url="/InventoryManagement/InventoryTransferOutDirect/GetBaseOrganizations" label-text="@Localizer["Page.调出组织"].Value" id="g62eabfee21c34121bbf90ee434a23ac7"/>
  </wt:row>
  <wt:row  items-per-row="ItemsPerRowEnum.Two">
    <wt:textarea field="LinkedVM.Memo"/>
  </wt:row>

  <wt:container align="AlignEnum.Right">
    <wt:submitbutton  text="@Localizer["Sys.Submit"].Value"/>
    <wt:closebutton  text="@Localizer["Sys.Close"].Value"/>
  </wt:container>

  <wt:hidden field="Ids" />
  <wt:grid vm="ListVM" use-local-data="true" height="300" hidden-checkbox="true" hidden-panel="true" />
</wt:form>


