
@model WMS.ViewModel.InventoryManagement.InventoryMoveLocationVMs.InventoryMoveLocationBatchVM
@using WalkingTec.Mvvm.Core.Extensions;
@inject IStringLocalizer<Program> Localizer;

<wt:form vm="@Model" url="/InventoryManagement/InventoryMoveLocation/DoBatchEdit?1=1">
  <div style="margin-bottom:10px;"> "@Localizer["Sys.BatchEditConfirm"].Value"</div>
  <wt:row  items-per-row="ItemsPerRowEnum.Two">
    <wt:textbox field="LinkedVM.DocNo"/>
    <wt:combobox field="LinkedVM.InWhLocationId"  item-url="/InventoryManagement/InventoryMoveLocation/GetBaseWhLocations" label-text="@Localizer["Page.入库库位"].Value" id="gb2e769c3ab2f49ff90402420b085f6ba"/>
  </wt:row>
  <wt:row  items-per-row="ItemsPerRowEnum.Two">
    <wt:textarea field="LinkedVM.Memo"/>
  </wt:row>

  <wt:container align="AlignEnum.Right">
    <wt:submitbutton  text="@Localizer["Sys.Submit"].Value"/>
    <wt:closebutton  text="@Localizer["Sys.Close"].Value"/>
  </wt:container>

  <wt:hidden field="Ids" />
  <wt:grid vm="ListVM" use-local-data="true" height="300" hidden-checkbox="true" hidden-panel="true" />
</wt:form>


