
@model WMS.ViewModel.PrintManagement.PrintSupplierVMs.PrintSupplierBatchVM
@using WalkingTec.Mvvm.Core.Extensions;
@inject IStringLocalizer<Program> Localizer;

<wt:form vm="@Model" url="/PrintManagement/PrintSupplier/DoBatchEdit?1=1">
  <div style="margin-bottom:10px;"> "@Localizer["Sys.BatchEditConfirm"].Value"</div>
  <wt:row  items-per-row="ItemsPerRowEnum.Two">
    <wt:textbox field="LinkedVM.DocNo"/>
    <wt:textbox field="LinkedVM.DocLineNo"/>
  </wt:row>
  <wt:row  items-per-row="ItemsPerRowEnum.Two">
    <wt:combobox field="LinkedVM.ItemId"  item-url="/PrintManagement/PrintSupplier/GetBaseItemMasters" label-text="@Localizer["Page.料品"].Value" id="ged5136df08834bbcb2bdf0b7be170f47"/>
    <wt:textbox field="LinkedVM.Qty"/>
  </wt:row>
  <wt:row  items-per-row="ItemsPerRowEnum.Two">
    <wt:textbox field="LinkedVM.ReceivedQty"/>
    <wt:textbox field="LinkedVM.ValidQty"/>
  </wt:row>
  <wt:row  items-per-row="ItemsPerRowEnum.Two">
    <wt:textbox field="LinkedVM.BatchNumber"/>
    <wt:textbox field="LinkedVM.Seiban"/>
  </wt:row>
  <wt:row  items-per-row="ItemsPerRowEnum.Two">
    <wt:textbox field="LinkedVM.SeibanRandom"/>
    <wt:textbox field="LinkedVM.Weight"/>
  </wt:row>
  <wt:row  items-per-row="ItemsPerRowEnum.Two">
    <wt:combobox field="LinkedVM.SupplierId"  item-url="/PrintManagement/PrintSupplier/GetBaseSuppliers" label-text="@Localizer["Page.供应商"].Value" id="g7f578f0e7150476baab65a2bc573b7a9"/>
    <wt:textbox field="LinkedVM.SyncSupplier"/>
  </wt:row>
  <wt:row  items-per-row="ItemsPerRowEnum.Two">
    <wt:textbox field="LinkedVM.SyncItem"/>
  </wt:row>

  <wt:container align="AlignEnum.Right">
    <wt:submitbutton  text="@Localizer["Sys.Submit"].Value"/>
    <wt:closebutton  text="@Localizer["Sys.Close"].Value"/>
  </wt:container>

  <wt:hidden field="Ids" />
  <wt:grid vm="ListVM" use-local-data="true" height="300" hidden-checkbox="true" hidden-panel="true" />
</wt:form>


