
@model WMS.ViewModel.SalesManagement.SalesReturnReceivementVMs.SalesReturnReceivementBatchVM
@using WalkingTec.Mvvm.Core.Extensions;
@inject IStringLocalizer<Program> Localizer;

<wt:form vm="@Model" url="/SalesManagement/SalesReturnReceivement/DoBatchEdit?1=1">
  <div style="margin-bottom:10px;"> "@Localizer["Sys.BatchEditConfirm"].Value"</div>
  <wt:row  items-per-row="ItemsPerRowEnum.Two">
    <wt:textbox field="LinkedVM.CreatePerson"/>
    <wt:combobox field="LinkedVM.OrganizationId"  item-url="/SalesManagement/SalesReturnReceivement/GetBaseOrganizations" label-text="@Localizer["Page.组织"].Value" id="g20d8b7a57e874e54a51d21d702930b9c"/>
  </wt:row>
  <wt:row  items-per-row="ItemsPerRowEnum.Two">
    <wt:datetime field="LinkedVM.BusinessDate"/>
    <wt:datetime field="LinkedVM.SubmitDate"/>
  </wt:row>
  <wt:row  items-per-row="ItemsPerRowEnum.Two">
    <wt:textbox field="LinkedVM.DocType"/>
    <wt:combobox field="LinkedVM.CustomerId"  item-url="/SalesManagement/SalesReturnReceivement/GetBaseCustomers" label-text="@Localizer["Page.客户"].Value" id="gd879609e3cce493d9df193bb1b0df638"/>
  </wt:row>
  <wt:row  items-per-row="ItemsPerRowEnum.Two">
    <wt:combobox field="LinkedVM.Status" id="ga70fc3739d504490bd002a47fb2dd7a6"/>
    <wt:textarea field="LinkedVM.Memo"/>
  </wt:row>

  <wt:container align="AlignEnum.Right">
    <wt:submitbutton  text="@Localizer["Sys.Submit"].Value"/>
    <wt:closebutton  text="@Localizer["Sys.Close"].Value"/>
  </wt:container>

  <wt:hidden field="Ids" />
  <wt:grid vm="ListVM" use-local-data="true" height="300" hidden-checkbox="true" hidden-panel="true" />
</wt:form>


