
@model WMS.ViewModel.SalesManagement.SalesRMAVMs.SalesRMABatchVM
@using WalkingTec.Mvvm.Core.Extensions;
@inject IStringLocalizer<Program> Localizer;

<wt:form vm="@Model" url="/SalesManagement/SalesRMA/DoBatchEdit?1=1">
  <div style="margin-bottom:10px;"> "@Localizer["Sys.BatchEditConfirm"].Value"</div>
  <wt:row  items-per-row="ItemsPerRowEnum.Two">
    <wt:textbox field="LinkedVM.CreatePerson"/>
    <wt:combobox field="LinkedVM.OrganizationId"  item-url="/SalesManagement/SalesRMA/GetBaseOrganizations" label-text="@Localizer["Page.组织"].Value" id="g57d143b0d74043368430b1a4d216e12c"/>
  </wt:row>
  <wt:row  items-per-row="ItemsPerRowEnum.Two">
    <wt:datetime field="LinkedVM.BusinessDate"/>
    <wt:datetime field="LinkedVM.ApproveDate"/>
  </wt:row>
  <wt:row  items-per-row="ItemsPerRowEnum.Two">
    <wt:textbox field="LinkedVM.DocType"/>
    <wt:textbox field="LinkedVM.Operators"/>
  </wt:row>
  <wt:row  items-per-row="ItemsPerRowEnum.Two">
    <wt:combobox field="LinkedVM.CustomerId"  item-url="/SalesManagement/SalesRMA/GetBaseCustomers" label-text="@Localizer["Page.客户"].Value" id="g848f8a0781704020bab861e7d7136ef7"/>
    <wt:combobox field="LinkedVM.Status" id="gd34c535e977b4b1797eea1540d0d31c4"/>
  </wt:row>
  <wt:row  items-per-row="ItemsPerRowEnum.Two">
    <wt:textarea field="LinkedVM.Memo"/>
  </wt:row>

  <wt:container align="AlignEnum.Right">
    <wt:submitbutton  text="@Localizer["Sys.Submit"].Value"/>
    <wt:closebutton  text="@Localizer["Sys.Close"].Value"/>
  </wt:container>

  <wt:hidden field="Ids" />
  <wt:grid vm="ListVM" use-local-data="true" height="300" hidden-checkbox="true" hidden-panel="true" />
</wt:form>


