
@model WMS.ViewModel.KnifeManagement.KnifeGrindRequestVMs.KnifeGrindRequestBatchVM
@using WalkingTec.Mvvm.Core.Extensions;
@inject IStringLocalizer<Program> Localizer;

<wt:form vm="@Model" url="/KnifeManagement/KnifeGrindRequest/DoBatchEdit?1=1">
  <div style="margin-bottom:10px;"> "@Localizer["Sys.BatchEditConfirm"].Value"</div>
  <wt:row  items-per-row="ItemsPerRowEnum.Two">
    <wt:combobox field="LinkedVM.Status" id="ga6193647084e49c58073829575239fd9"/>
    <wt:combobox field="LinkedVM.HandledById"  item-url="/KnifeManagement/KnifeGrindRequest/GetFrameworkUsers" label-text="@Localizer["Page.经办人"].Value" id="ge844a7eb600e44ea836a7f4c0562825e"/>
  </wt:row>
  <wt:row  items-per-row="ItemsPerRowEnum.Two">
    <wt:datetime field="LinkedVM.ApprovedTime"/>
  </wt:row>

  <wt:container align="AlignEnum.Right">
    <wt:submitbutton  text="@Localizer["Sys.Submit"].Value"/>
    <wt:closebutton  text="@Localizer["Sys.Close"].Value"/>
  </wt:container>

  <wt:hidden field="Ids" />
  <wt:grid vm="ListVM" use-local-data="true" height="300" hidden-checkbox="true" hidden-panel="true" />
</wt:form>


